@model CoreDemoApp.Models.AlbumModel
@{

    ViewBag.Title = "Album Details";
}
<h2>@Model.Title</h2>
<div style="clear:both"></div>
<div class="padded">
    @($"Artist: {Model.Artist.Name}")
</div>
<div class="padded">
    @($"Price - {Model.Price.ToString("c")}")
</div>
<div class="padded">
    Quantity - <select asp-for="Quantity" asp-items="ViewBag.QuantitySelectList"></select>
    <a id="AddToCart" href="#">Add To Cart</a>
</div>
<input type="hidden" id="Id" value="@Model.AlbumId" />

@section scripts{
    <script>
        $(document).ready(function () {
            $("#AddToCart").click(function () {
                addToCart();
            });
        });

        function addToCart() {
            $.ajax({
                url: "/Order/AddToCart",
                datatype: "json",
                data: { Id: $("#Id").val(), quantity: $("#Quantity").val() },
                async: false,
                success: function (data) {
                    $("#NumberOfItems").html("Number of Items: " + data.cartItemNumber + "&nbsp;");
                }
            });
        }

    </script>
}