@using System
@using System.Collections.Generic
@using System.Security.Policy
@using CoreDemoApp.BusinessMethods
@using Microsoft.AspNet.Http
@using CoreDemoApp.Models
<div style="float: right">
    <div style="float: left; padding-top: 15px">
        <img src='@Url.Content("~/images/shoping_cart.png")' style="height: 20px" />
    </div>
    <div style="padding: 15px; float: right">
        @{
            int cartItemCount = 0;
            if (!String.IsNullOrEmpty(Context.Session.GetString("CartItems")))
            {
                var cartItems =
                    (List<CartItemModel>)
                        SerializationLogic<List<CartItemModel>>.Deserialize(Context.Session.GetString("CartItems"));
                cartItemCount = cartItems.Sum(c => c.Quantity);
            }
        }
        <div>
            <div id="NumberOfItems" style="float: left">
                @String.Format("Number of Items: {0}", @cartItemCount)&nbsp;
            </div>
            <div style="float: right">
                <a asp-controller="Cart" asp-action="Index">View Cart</a>
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>
