@using System
@using System.Collections.Generic
@using System.Security.Policy
@using CoreDemoApp.Models
<div style="float: right">
    <div style="float: left; padding-top: 15px">
        <img src='@Url.Content("~/images/shoping_cart.png")' style="height: 20px" />
    </div>
    <div style="padding: 15px; float: right">
        @{
            int cartItemCount = 0;
            byte[] bytes;
            var ret = Context.Session.TryGetValue("cartItems", out bytes);
            if (ret)
            {
                var cartItems =  CoreDemoApp.BusinessMethods.SerializationLogic<List<CartItemModel>>.Deserialize(bytes);
                cartItemCount = cartItems.Count;
            }
        }
        <div>
            <div id="NumberOfItems" style="float: left">
              @($"Number of Items: {@cartItemCount}")&nbsp;
            </div>
            <div style="float: right">
                <a asp-controller="Order" asp-action="Index">View Cart</a>
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>
